USE [master]
GO
/****** Object:  Database [list]    Script Date: 2020/12/20 16:51:35 ******/
CREATE DATABASE [list]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'list', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER01\MSSQL\DATA\list.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'list_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER01\MSSQL\DATA\list_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [list].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [list]
GO
/****** Object:  Table [dbo].[car]    Script Date: 2020/12/20 16:51:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[car](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cname] [nvarchar](50) NULL,
	[cprice] [int] NULL,
	[ctime] [nvarchar](50) NULL,
	[amount] [int] NULL,
	[sum] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fruit_list]    Script Date: 2020/12/20 16:51:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fruit_list](
	[fid] [int] IDENTITY(1,1) NOT NULL,
	[fname] [nchar](50) NULL,
	[desc] [nvarchar](75) NOT NULL,
	[location] [nchar](25) NULL,
	[price] [int] NULL,
 CONSTRAINT [PK_fruit_list] PRIMARY KEY CLUSTERED 
(
	[fid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[record]    Script Date: 2020/12/20 16:51:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[record](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ipAdress] [nvarchar](50) NULL,
	[loginTime] [nvarchar](50) NULL,
 CONSTRAINT [PK_record] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[shop_list]    Script Date: 2020/12/20 16:51:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[shop_list](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[img] [nvarchar](50) NULL,
	[name] [nvarchar](50) NULL,
	[desc] [nvarchar](50) NULL,
	[detail] [nvarchar](50) NULL,
	[loca] [nvarchar](50) NULL,
	[price] [int] NULL,
 CONSTRAINT [PK_shop_list] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 2020/12/20 16:51:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[username] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
